/* ++++++++++ */
/* Font Faces */
/* ++++++++++ */
@font-face {
    font-family: "studio-pro";
    src: url(./resources/fonts/studio-pro-regular-webfont.woff);
}

@font-face {
    font-family: "grotesk";
    src: url(./resources/fonts/ABCMonumentGrotesk-Medium.woff2);
}

@font-face {
    font-family: "PPNeue";
    src: url(./resources/fonts/PPNeueMontreal-Medium.woff2);
}

/* +++++++++++ */
/* Body Styles */
/* +++++++++++ */

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: color 0.4s ease, background-color 0.4s ease;
    -ms-transition: color 0.4s ease, background-color 0.4s ease;
    -webkit-transition: color 0.4s ease, background-color 0.4s ease;
    background-color: var(--background-clr);
}

/* +++++++++++++++++++++++ */
/* Root Styles & Dark mode */
/* +++++++++++++++++++++++ */

:root {
    --studio-font: "studio-pro";
    --grotesk-font: "grotesk";
    --ppn-font: "PPNeue";
    --accent-clr: #000AFF;
    --white-clr: #FAFAFA;
    --black-clr: #060606;

    --background-clr: var(--white-clr);
    --text-clr: var(--black-clr);
    --loader-clr: var(--black-clr);

    --uni-padding: 20px;
}

.darkMode {
    --background-clr: var(--black-clr);
    --text-clr: var(--white-clr);
    --accent-clr: var(--white-clr);
    --loader-clr: var(--white-clr);
}

a {
    all: unset;
    cursor: cursor !important;
}

/* ++++++ */
/* Loader */
/* ++++++ */

.overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    display: flex;
    pointer-events: none;
}

.bar {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--loader-clr);
}

.counter {
    position: fixed;
    width: 102%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    color: var(--background-clr);
    font-size: 1rem;
    font-family: var(--studio-font);
    pointer-events: none;
}

/* +++++++++++++ */
/* Custom Cursor */
/* +++++++++++++ */

@media screen and (min-width: 700px) {
    #cursor-container {
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: -2;
      }
     
     #custom-cursor {
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        filter: blur(40px);
        background-color: var(--accent-clr);
        z-index: -2;
        transform: translate(-50%, -50%);
        transition: transform .3s ease-out;
     }
}

/* +++++++++++++ */
/* Header Styles */
/* +++++++++++++ */

.big-hero {
    height: 30vh;
}

.big {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigger {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    mix-blend-mode: difference;
}

h1 {
    margin: 0;
}

.logo {
    color: var(--white-clr); /*NEEDS TO BE WHITE FOR BLEND MODE*/
    filter: blur(0.08rem);
    /* font-style: italic; */
    font-family: var(--ppn-font);
    font-size: 3.8rem;
    text-align: center;
    mix-blend-mode: difference;
}

.star {
    width: 30px;
    height: 30px;
    mix-blend-mode: difference;
}

.sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white-clr);
}

.sub-text {
    margin: 0;
    mix-blend-mode: difference;
    /* filter: blur(0.06rem); */
}

.cursive {
    font-family: 'Luxurious Script', cursive;
    font-size: 5rem;
}

.small {
    font-size: 2.5rem;
    line-height: 0;
}

.smaller {
    font-size: 2rem;
    line-height: 0;
}

.non-cursive {
    font-family: var(--studio-font);
    font-size: 3rem;
}

/* ++++++++++++++ */
/* Studios Styles */
/* ++++++++++++++ */

.studios-wrapper {
    display: flex;
    padding: var(--uni-padding);
    /* background-color: var(--loader-clr); */
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -100;
}

.studios {
    font-family: var(--studio-font);
    font-size: .9rem;
    text-align: justify;
    color: var(--text-clr);
    /* color: var(--background-clr); */
}

/* ++++++++++++++++++ */
/* Scroll Text Styles */
/* ++++++++++++++++++ */

.scroll-text {
    font-family: var(--studio-font);
    font-size: 0.7rem;
    color: var(--text-clr);
    display: flex;
    text-align: center;
    margin-bottom: auto;
    margin-top: 10px;
}

.scroll-wrapper {
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative;
    z-index: -2; */
}

/* +++++++ */
/* Profile */
/* +++++++ */

.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    padding: var(--uni-padding);
}

.small-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    flex-direction: column;
}

.small-stars-svg {
    width: 15px;
    mix-blend-mode: difference;
    padding: 8px;
}

.blur {
    background-color: var(--accent-clr);
    filter: blur(10px);
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100vw;
    height: 100px;
    /* mix-blend-mode: difference; */
}

.profile-pic {
    width: 240px;
    /* border-radius: 10px; */
    display: block;
    position: relative;
    z-index: -1;
 }

 .gif {
    width: 100px;
    border-radius: 10px;

 }

/* ++++++++++++ */
/* Before About */
/* ++++++++++++ */

.services {
    display: flex;
    padding: var(--uni-padding);
    color: var(--text-clr);
    font-family: var(--studio-font);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-list {
    font-size: 0.9rem;
    width: 100%;
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--text-clr);
}

.sub-service {
    line-height: 0;
    color: gray;
}

/* ++++++++ */
/* About Me */
/* ++++++++ */

.pop-soft {
    font-style: italic;
}

.pop-bold {
    font-family: var(--grotesk-font);
}

.pop-minimal {
    font-size: 0.75rem;
}

.about-me {
    font-family: var(--studio-font);
    color: var(--text-clr );
    display: flex;
    padding: 0 var(--uni-padding);
    font-size: 0.9rem;
    text-align: justify;
}

 .reveal-type {
    text-align: justify;
 }

 .before-about {
    color: var(--white-clr);
    overflow: hidden !important;
    mix-blend-mode: difference;
 }

 .tiny-star {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
 }

/* +++++++++++++ */
/* Dragg Section */
/* +++++++++++++ */

.drag-container {
    height: 20vh;
    max-width: 100%;
    margin: var(--uni-padding);
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* ++++++++++++ */
/* Contact Form */
/* ++++++++++++ */

.contact {
    padding: var(--uni-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: blur(1px); */
}

.contact-text {
    font-family: var(--studio-font);
    color: var(--text-clr);
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
    /* font-style: italic; */
}

form {
    font-family: var(--studio-font);
    margin: var(--uni-padding);
}

.input {
    outline: none;
    border: none;
}

::placeholder {
    /* font-family: system-ui, sans-serif; */
    color: var(--text-clr);
    opacity: 0.5;
    font-style: italic;
    font-size: 0.7rem;
 }
 
 .input-container {
    position: relative;
    margin: 30px auto;
    width: 80%;
  }
  
  .input-container input[type="text"] {
    font-size: .7rem;
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    color: var(--text-clr);
    border: none;
    border-bottom: 1px solid var(--text-clr);
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-clr);
    opacity: 0.3;
    transition: all 0.3s ease;
    pointer-events: none;
    /* font-family: system-ui, sans-serif; */
    font-size: .7rem;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    color: var(--text-clr);
    border: none;
    opacity: 1;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--text-clr);
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
 
  .input-container input[type="text"]:focus,
  .input-container input[type="text"]:active {
    outline: none;
    border: none;
 }
 
  .submit {
    font-family: var(--studio-font);
    border: none;
    background-color: transparent;
    color: var(--text-clr);
    font-size: 1rem;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 30%;
    margin-bottom: 3rem;
    transition: all ease 1s;
    padding: 6px;
    border: solid 1px var(--text-clr);
    border-radius: 100px;
 }
 
 .submit:hover {
    color: var(--text-clr);
    font-size: 1.2rem;
 }

input, textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0; /* You can adjust this based on your design */
}

/* +++++++++++ */
/* Acknowledge */
/* +++++++++++ */

.ack {
    color: var(--text-clr);
    padding: var(--uni-padding);
    text-align: center;
    font-family: var(--studio-font);
    font-size: 0.6rem;
    position: relative;
}

.ack-text {
    margin-bottom: 10px;
}

.blur-ack {
    background-color: var(--accent-clr);
    filter: blur(60px);
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* +++++++++++++ */
/* Sticky Footer */
/* +++++++++++++ */

.sticky-footer {
    display: flex;
    border-top: 1px solid var(--text-clr);
    border-bottom: 1px solid var(--text-clr);
    position: sticky;
    bottom: 0;
    background-color: var(--background-clr);
    z-index: 300;
    font-family: var(--studio-font);
    /* font-style: italic; */
    font-size: 0.8rem;
    padding-top: 4px;
 }

 .available-wrapper {
    margin-right: auto;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
 }

 .time-wrapper {
    margin-left: auto;
    margin-right: 8px;
 }

.time-text {
    color: var(--text-clr);
}

.available-text {
    color: var(--text-clr);
}

/* ++++++++++++++++ */
/* Dark Mode Toggle */
/* ++++++++++++++++ */

.toggle {
    color: var(--text-clr);
}

.toggle:hover {
    cursor: pointer;
}

/* +++++++++++++++ */
/* Wacky Animation */
/* +++++++++++++++ */

.cssload-wrap {
	position: absolute;
	margin: 0 auto 0;
	left: 50%;
	margin-left: -190px;
	transform: rotateX(75deg);
}
.cssload-circle {
	position: absolute;
	float: left;
	border: 1px solid var(--accent-clr);
	animation: bounce 1.73s infinite ease-in-out alternate;
		-o-animation: bounce 1.73s infinite ease-in-out alternate;
		-ms-animation: bounce 1.73s infinite ease-in-out alternate;
		-webkit-animation: bounce 1.73s infinite ease-in-out alternate;
		-moz-animation: bounce 1.73s infinite ease-in-out alternate;
	border-radius: 100%;
	background: transparent;
	top: -64px;
	left: -64px;
}
.cssload-circle:nth-child(1) {
	margin: 0 251px;
	width: 8px;
	height: 8px;
	animation-delay: 115ms;
		-o-animation-delay: 115ms;
		-ms-animation-delay: 115ms;
		-webkit-animation-delay: 115ms;
		-moz-animation-delay: 115ms;
	z-index: -1;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(2) {
	margin: 0 246px;
	width: 17px;
	height: 17px;
	animation-delay: 230ms;
		-o-animation-delay: 230ms;
		-ms-animation-delay: 230ms;
		-webkit-animation-delay: 230ms;
		-moz-animation-delay: 230ms;
	z-index: -2;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(3) {
	margin: 0 242px;
	width: 25px;
	height: 25px;
	animation-delay: 345ms;
		-o-animation-delay: 345ms;
		-ms-animation-delay: 345ms;
		-webkit-animation-delay: 345ms;
		-moz-animation-delay: 345ms;
	z-index: -3;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(4) {
	margin: 0 238px;
	width: 34px;
	height: 34px;
	animation-delay: 460ms;
		-o-animation-delay: 460ms;
		-ms-animation-delay: 460ms;
		-webkit-animation-delay: 460ms;
		-moz-animation-delay: 460ms;
	z-index: -4;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(5) {
	margin: 0 234px;
	width: 42px;
	height: 42px;
	animation-delay: 575ms;
		-o-animation-delay: 575ms;
		-ms-animation-delay: 575ms;
		-webkit-animation-delay: 575ms;
		-moz-animation-delay: 575ms;
	z-index: -5;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(6) {
	margin: 0 229px;
	width: 51px;
	height: 51px;
	animation-delay: 690ms;
		-o-animation-delay: 690ms;
		-ms-animation-delay: 690ms;
		-webkit-animation-delay: 690ms;
		-moz-animation-delay: 690ms;
	z-index: -6;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(7) {
	margin: 0 225px;
	width: 59px;
	height: 59px;
	animation-delay: 805ms;
		-o-animation-delay: 805ms;
		-ms-animation-delay: 805ms;
		-webkit-animation-delay: 805ms;
		-moz-animation-delay: 805ms;
	z-index: -7;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(8) {
	margin: 0 221px;
	width: 68px;
	height: 68px;
	animation-delay: 920ms;
		-o-animation-delay: 920ms;
		-ms-animation-delay: 920ms;
		-webkit-animation-delay: 920ms;
		-moz-animation-delay: 920ms;
	z-index: -8;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(9) {
	margin: 0 217px;
	width: 76px;
	height: 76px;
	animation-delay: 1035ms;
		-o-animation-delay: 1035ms;
		-ms-animation-delay: 1035ms;
		-webkit-animation-delay: 1035ms;
		-moz-animation-delay: 1035ms;
	z-index: -9;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(10) {
	margin: 0 212px;
	width: 85px;
	height: 85px;
	animation-delay: 1150ms;
		-o-animation-delay: 1150ms;
		-ms-animation-delay: 1150ms;
		-webkit-animation-delay: 1150ms;
		-moz-animation-delay: 1150ms;
	z-index: -10;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(11) {
	margin: 0 208px;
	width: 93px;
	height: 93px;
	animation-delay: 1265ms;
		-o-animation-delay: 1265ms;
		-ms-animation-delay: 1265ms;
		-webkit-animation-delay: 1265ms;
		-moz-animation-delay: 1265ms;
	z-index: -11;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(12) {
	margin: 0 204px;
	width: 102px;
	height: 102px;
	animation-delay: 1380ms;
		-o-animation-delay: 1380ms;
		-ms-animation-delay: 1380ms;
		-webkit-animation-delay: 1380ms;
		-moz-animation-delay: 1380ms;
	z-index: -12;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(13) {
	margin: 0 200px;
	width: 110px;
	height: 110px;
	animation-delay: 1495ms;
		-o-animation-delay: 1495ms;
		-ms-animation-delay: 1495ms;
		-webkit-animation-delay: 1495ms;
		-moz-animation-delay: 1495ms;
	z-index: -13;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(14) {
	margin: 0 195px;
	width: 119px;
	height: 119px;
	animation-delay: 1610ms;
		-o-animation-delay: 1610ms;
		-ms-animation-delay: 1610ms;
		-webkit-animation-delay: 1610ms;
		-moz-animation-delay: 1610ms;
	z-index: -14;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(15) {
	margin: 0 191px;
	width: 127px;
	height: 127px;
	animation-delay: 1725ms;
		-o-animation-delay: 1725ms;
		-ms-animation-delay: 1725ms;
		-webkit-animation-delay: 1725ms;
		-moz-animation-delay: 1725ms;
	z-index: -15;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(16) {
	margin: 0 187px;
	width: 136px;
	height: 136px;
	animation-delay: 1840ms;
		-o-animation-delay: 1840ms;
		-ms-animation-delay: 1840ms;
		-webkit-animation-delay: 1840ms;
		-moz-animation-delay: 1840ms;
	z-index: -16;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(17) {
	margin: 0 183px;
	width: 144px;
	height: 144px;
	animation-delay: 1955ms;
		-o-animation-delay: 1955ms;
		-ms-animation-delay: 1955ms;
		-webkit-animation-delay: 1955ms;
		-moz-animation-delay: 1955ms;
	z-index: -17;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(18) {
	margin: 0 178px;
	width: 153px;
	height: 153px;
	animation-delay: 2070ms;
		-o-animation-delay: 2070ms;
		-ms-animation-delay: 2070ms;
		-webkit-animation-delay: 2070ms;
		-moz-animation-delay: 2070ms;
	z-index: -18;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(19) {
	margin: 0 174px;
	width: 161px;
	height: 161px;
	animation-delay: 2185ms;
		-o-animation-delay: 2185ms;
		-ms-animation-delay: 2185ms;
		-webkit-animation-delay: 2185ms;
		-moz-animation-delay: 2185ms;
	z-index: -19;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(20) {
	margin: 0 170px;
	width: 170px;
	height: 170px;
	animation-delay: 2300ms;
		-o-animation-delay: 2300ms;
		-ms-animation-delay: 2300ms;
		-webkit-animation-delay: 2300ms;
		-moz-animation-delay: 2300ms;
	z-index: -20;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(21) {
	margin: 0 166px;
	width: 178px;
	height: 178px;
	animation-delay: 2415ms;
		-o-animation-delay: 2415ms;
		-ms-animation-delay: 2415ms;
		-webkit-animation-delay: 2415ms;
		-moz-animation-delay: 2415ms;
	z-index: -21;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(22) {
	margin: 0 161px;
	width: 187px;
	height: 187px;
	animation-delay: 2530ms;
		-o-animation-delay: 2530ms;
		-ms-animation-delay: 2530ms;
		-webkit-animation-delay: 2530ms;
		-moz-animation-delay: 2530ms;
	z-index: -22;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(23) {
	margin: 0 157px;
	width: 195px;
	height: 195px;
	animation-delay: 2645ms;
		-o-animation-delay: 2645ms;
		-ms-animation-delay: 2645ms;
		-webkit-animation-delay: 2645ms;
		-moz-animation-delay: 2645ms;
	z-index: -23;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(24) {
	margin: 0 153px;
	width: 204px;
	height: 204px;
	animation-delay: 2760ms;
		-o-animation-delay: 2760ms;
		-ms-animation-delay: 2760ms;
		-webkit-animation-delay: 2760ms;
		-moz-animation-delay: 2760ms;
	z-index: -24;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(25) {
	margin: 0 149px;
	width: 212px;
	height: 212px;
	animation-delay: 2875ms;
		-o-animation-delay: 2875ms;
		-ms-animation-delay: 2875ms;
		-webkit-animation-delay: 2875ms;
		-moz-animation-delay: 2875ms;
	z-index: -25;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(26) {
	margin: 0 144px;
	width: 221px;
	height: 221px;
	animation-delay: 2990ms;
		-o-animation-delay: 2990ms;
		-ms-animation-delay: 2990ms;
		-webkit-animation-delay: 2990ms;
		-moz-animation-delay: 2990ms;
	z-index: -26;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(27) {
	margin: 0 140px;
	width: 229px;
	height: 229px;
	animation-delay: 3105ms;
		-o-animation-delay: 3105ms;
		-ms-animation-delay: 3105ms;
		-webkit-animation-delay: 3105ms;
		-moz-animation-delay: 3105ms;
	z-index: -27;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(28) {
	margin: 0 136px;
	width: 238px;
	height: 238px;
	animation-delay: 3220ms;
		-o-animation-delay: 3220ms;
		-ms-animation-delay: 3220ms;
		-webkit-animation-delay: 3220ms;
		-moz-animation-delay: 3220ms;
	z-index: -28;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(29) {
	margin: 0 132px;
	width: 246px;
	height: 246px;
	animation-delay: 3335ms;
		-o-animation-delay: 3335ms;
		-ms-animation-delay: 3335ms;
		-webkit-animation-delay: 3335ms;
		-moz-animation-delay: 3335ms;
	z-index: -29;
	border: 1px solid var(--accent-clr);
}
.cssload-circle:nth-child(30) {
	margin: 0 127px;
	width: 255px;
	height: 255px;
	animation-delay: 3450ms;
		-o-animation-delay: 3450ms;
		-ms-animation-delay: 3450ms;
		-webkit-animation-delay: 3450ms;
		-moz-animation-delay: 3450ms;
	z-index: -30;
	border: 1px solid var(--accent-clr);
}


@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(85px);
	}
}

@-o-keyframes bounce {
	0% {
		-o-transform: translateY(0px);
	}
	100% {
		-o-transform: translateY(85px);
	}
}

@-ms-keyframes bounce {
	0% {
		-ms-transform: translateY(0px);
	}
	100% {
		-ms-transform: translateY(85px);
	}
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0px);
	}
	100% {
		-webkit-transform: translateY(85px);
	}
}

@-moz-keyframes bounce {
	0% {
		-moz-transform: translateY(0px);
	}
	100% {
		-moz-transform: translateY(85px);
	}
}