@font-face {
    font-family: "studio-pro";
    src: url(./resources/fonts/studio-pro-regular-webfont.woff);
}

:root {
    --studio-font: "studio-pro";
    --white-clr: #F5F5F5;
    --blue-clr: #000AFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--white-clr);
}

.body {
    transition: opacity 1s ease-out;
    opacity: 0;
}

#cursor-container {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
    mix-blend-mode: difference;
}

#custom-cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #DDB31F;
    z-index: 2;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    /* transition: transform .3s ease-out; */
    transition: border-radius 1s ease, height 0.5s ease, width 0.5s ease;
    mix-blend-mode: difference;
}

#custom-cursor.hovering {
    border-radius: 0%;
    height: 14px;
    width: 14px;
}

.inactive-image {
    display: flex;
  }
  
  .active-image {
    display: none;
  }

.images-section {
    padding: 40px 20px;
}

p {
    font-family: var(--studio-font);
    font-size: 0.8rem;
    color: var(--blue-clr);
}

.title {
    position: fixed;
    top: 0px;
    padding: 10px 15px;
    background-color: var(--white-clr);
    z-index: 1;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.title p {
    color: black;
}

#link {
    padding-left: 3px;
}

.info {
    margin-left: auto;
}

.star {
    font-size: 0.7rem;
}

a {
    all: unset;
}

.images-grid img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.images-grid p {
    display: none;
}

.images-grid {
    position: fixed;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
}

/* .image-hover-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-left: 150px;
} */

.image-hover-wrapper img {
    height: 600px;
}

.image-box {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 1.5s ease-out;
}

.image-box p {
    margin-left: auto;
    font-size: 0.55rem;
}

.phone {
    display: none;
}

.image-hover-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 140px;
}

.information {
    margin-left: 140px;
    padding: 40px 20px;
    display: none;
    opacity: 0;
    transition: all 1.5s ease-out;
    flex-direction: column;
    height: 78vh;
    position: fixed;
    top: 10vh;
    right: 0;
}

.info-text {
    margin-top: auto;
    text-align: right;
}

.thumbnail {
    display: none;
}

.active {
    display: flex;
}

.hidden {
    display: none;
}

/*PHONE*/
@media screen and (max-width: 699px) {


    .images-section {
        display: none;
    }

    .phone {
        display: flex;
        padding: 40px 15px;
    }

    .phone-grid {
        position: fixed;
        top: 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        /* max-height: 100vh; */
        width: fit-content;
        /* overflow-y: auto; */
    }

    .phone-grid img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    /* .phone-hover {
        width: 65vw;
        display: flex;
        position: fixed;
        right: 15px;
    } */

    .phone-hover img {
        width: 100%;
    }

    .images-wrapper {
        width: 100%;
    }

    .information {
        padding-left: 105px;
        margin: 0;
    }

    .phone-hover {
        display: flex;
        padding-left: 93.5px;
        justify-content: end;
        flex-direction: column;
        gap: 3px;
    }


    p {
        font-family: var(--studio-font);
        font-size: 0.65rem;
    }

    .star {
        font-size: 0.4rem;
    }
}