/*=========================*/
    /* ROOT STYLES */
/*=========================*/

@font-face {
    font-family: "estonia";
    src: url('./resources/fonts/Estonia-Regular.ttf') format("ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

main {
    animation: fadeInAnimation ease 3s;
}

.estonia {
    font-family: var(--estonia-font);
}

:root {
    --green-color: #2EAE65;
    --black-color: #101010;
    --white-color: #FDF7EB;
    --blue-color: #3742FA;
    --red-color: #E55039;
    --times-new-font: "Times New Roman";
    --estonia-font: "Estonia", cursive;
}
body {
    background-color: var(--white-color);
    color: var(--green-color);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes slideUp {
    0% {
        transform: translateY(800px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: var(--green-color);
    transition: all ease 1s;
}

/*=========================*/
    /* TITLES & BREAKS */
/*=========================*/

.header {
    margin: 0 0 1rem 0;
    position: sticky;
    top: 0;
    padding-top: .5rem;
    background-color: var(--white-color);
    z-index: 1;
}

/* .after-header {
    animation: slideUp ease 3s;
} */

.floral-left,
.floral-right {
    margin: auto;
    font-size: 1.4rem;
}

.title {
    font-family: var(--times-new-font);
    font-style: italic;
    text-align: center;
}

.title-middle {
    font-size: 3.2rem;
}

.about-me {
    padding: 2.4rem 2.5rem 3.5rem 2.8rem;
    font-size: .80rem;
    font-family: system-ui, sans-serif;
}

.sub-header {
    display: flex;
    margin: 1rem;
}

.sub-title {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.sub-floral-left {
    margin: auto;
    font-size: 0.9rem;
}

.sub-floral-right {
    margin: auto;
    font-size: .85rem;
}

.small-img {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.blurb-img {
    height: 125px;
    filter: grayscale(100%);
    transition: all ease 2s;
}

.blurb-img:hover,
.blurb-img:active {
    filter: grayscale(20%);
}

.star-break {
    text-align: center;
    margin: 3rem 0 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star {
    font-size: .55rem;
    margin: 0 .6rem;
}

.project-grid {
    /* writing-mode: vertical-lr;
    text-orientation: mixed; */
    margin: auto;
}

.project-title {
    padding: 1.5rem 1.3rem;
    font-family: system-ui, sans-serif;
    font-size: .75rem;
    font-style: italic;
}

.link-block {
    display: flex;
}

.link-title {
    margin: auto;
    width: 50%;
}

.link-arrow {
    margin: auto;
}

.arrow {
    font-size: 1rem;
}

.desc {
    font-size: .5rem;
    font-style: normal;
    padding-top: 4px;
}

.line {
    width: 100%;
    height: 1px;
    margin: auto;
    background-color: var(--green-color);
}

.header-line {
    width: 100%;
    height: 1px;
    margin: auto;
    margin-top: 0.6rem;
    background-color: var(--green-color);
}

.after-projects {
    margin-top: 5rem;
}

.thanks-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.thanks {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.back {
    font-family: system-ui, sans-serif;
}

/*=========================*/
    /* DESKTOP */
/*=========================*/

a:hover {
    color: var(--black-color);
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {

    #cursor-container {
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        mix-blend-mode: difference;
        z-index: 1;
      }

    #custom-cursor {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    * {
        cursor: none;
    }

    .header {
        margin-bottom: 4rem;
    }

    .title-middle {
        font-size: 5.5rem;
        padding: 1rem 6rem;
    }

    .floral-left {
        font-size: 1.7rem;
    }

    .floral-right {
        font-size: 1.6rem;
    }

    .sub-floral-left {
        margin: auto;
        font-size: 0.90rem;
    }

    .sub-floral-right {
        margin: auto;
        font-size: .85rem;
    }

    .about-me {
        font-size: .9rem;
        padding: 2.5rem 2rem 7rem 2rem;
    }

    .star-break {
        margin: 5rem 0;
    }

    .link-title {
        width: 80%;
    }

    .sub-title {
        font-size: 3rem;
    }

    .project-title {
        padding: 1.5rem 2rem;
        font-size: .9rem;
    }

    .star {
        font-size: 1rem;
    }

}

/*=========================*/
    /* CONTACT */
/*=========================*/

::placeholder {
    font-family: system-ui, sans-serif;
    color: var(--green-color);
    opacity: 0.5;
    font-style: italic;
    font-size: 0.7rem;
}

.input-container {
    position: relative;
    margin: 30px auto;
    width: 80%;
  }
  
  .input-container input[type="text"] {
    font-size: .7rem;
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    color: var(--black-color);
    border: none;
    border-bottom: 1px solid var(--green-color);
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--green-color);
    opacity: 0.3;
    transition: all 0.3s ease;
    pointer-events: none;
    font-family: system-ui, sans-serif;
    font-size: .7rem;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    color: var(--green-color);
    border: none;
    opacity: 1;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--black-color);
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }

  .input-container input[type="text"]:focus,
  .input-container input[type="text"]:active {
    outline: none;
    border: none;
}

  .submit {
    font-family: var(--times-new-font);
    font-style: italic;
    border: none;
    background-color: transparent;
    color: var(--green-color);
    font-size: 1rem;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 40%;
    margin-bottom: 2rem;
    transition: all ease 1s;
 }

 .submit:hover {
    color: var(--black-color);
    font-size: 2rem;
 }