/*==========================*/
   /*--- ROOT STYLES ---*/
/*==========================*/

@font-face {
   font-family: 'studio_proregular';
   src: url('studio-pro-regular-webfont.woff2') format('woff2'),
         url('studio-pro-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

:root {
   --font-family: "studio_proregular";
   --light-bkg-color: #faf9f6;
   --dark-bkg-color: #0e1111;
   --light-font-colour: #0e1111;
   --dark-font-color: #faf9f6;
   --blue-color: #3d3aed;
   --background-noise: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuZGV2L3N2Z2pzIiB2aWV3Qm94PSIwIDAgNzAwIDcwMCIgd2lkdGg9IjcwMCIgaGVpZ2h0PSI3MDAiPjxkZWZzPjxmaWx0ZXIgaWQ9Im5ubm9pc2UtZmlsdGVyIiB4PSItMjAlIiB5PSItMjAlIiB3aWR0aD0iMTQwJSIgaGVpZ2h0PSIxNDAlIiBmaWx0ZXJVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHByaW1pdGl2ZVVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzPSJsaW5lYXJSR0IiPgoJPGZlVHVyYnVsZW5jZSB0eXBlPSJ0dXJidWxlbmNlIiBiYXNlRnJlcXVlbmN5PSIwLjE0MyIgbnVtT2N0YXZlcz0iNCIgc2VlZD0iMTUiIHN0aXRjaFRpbGVzPSJzdGl0Y2giIHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcmVzdWx0PSJ0dXJidWxlbmNlIj48L2ZlVHVyYnVsZW5jZT4KCTxmZVNwZWN1bGFyTGlnaHRpbmcgc3VyZmFjZVNjYWxlPSIxNCIgc3BlY3VsYXJDb25zdGFudD0iMC43NSIgc3BlY3VsYXJFeHBvbmVudD0iMjAiIGxpZ2h0aW5nLWNvbG9yPSIjNGM3ZmM1IiB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGluPSJ0dXJidWxlbmNlIiByZXN1bHQ9InNwZWN1bGFyTGlnaHRpbmciPgogICAgCQk8ZmVEaXN0YW50TGlnaHQgYXppbXV0aD0iMyIgZWxldmF0aW9uPSI5MCI+PC9mZURpc3RhbnRMaWdodD4KICAJPC9mZVNwZWN1bGFyTGlnaHRpbmc+CiAgPGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBpbj0ic3BlY3VsYXJMaWdodGluZyIgcmVzdWx0PSJjb2xvcm1hdHJpeCI+PC9mZUNvbG9yTWF0cml4Pgo8L2ZpbHRlcj48L2RlZnM+PHJlY3Qgd2lkdGg9IjcwMCIgaGVpZ2h0PSI3MDAiIGZpbGw9InRyYW5zcGFyZW50Ij48L3JlY3Q+PHJlY3Qgd2lkdGg9IjcwMCIgaGVpZ2h0PSI3MDAiIGZpbGw9IiM0YzdmYzUiIGZpbHRlcj0idXJsKCNubm5vaXNlLWZpbHRlcikiPjwvcmVjdD48L3N2Zz4=");
}

* {
   margin: 0;
   padding: 0;
   font-family: var(--font-family);
}

body {
   background-color: var(--light-bkg-color);
   background-image: var(--background-noise);
}

/*==========================*/
   /*--- MENU / HEADER ---*/
/*==========================*/

.menu-icon {
   height: 22px;
   width: 22px;
   -webkit-transition-property: -webkit-transform;
   -webkit-transition-duration: 5s;
   -moz-transition-property: -moz-transform background-color;
   -moz-transition-duration: 5s;
   -webkit-animation-name: grow;
   -webkit-animation-duration: 9s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
   -moz-animation-name: grow;
   -moz-animation-duration: 9s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: linear;
}

@-webkit-keyframes grow {
0% { transform: scale(.9); }
50% { transform: scale(1.2); }
100% { transform: scale(.9); }
}

.header {
   background-color: var(--light-bkg-color);
}

.navbar {
   display: flex;
   margin-left: 0.4rem;
   margin-right: 0.4rem;
}

.menu {
   display: flex;
   align-items: center;
   margin-left: auto;
   margin-right: 0.2rem;
}

/*==========================*/
   /*--- HERO SECTION ---*/
/*==========================*/

.hero-container {
   background-color: var(--light-bkg-color);
   min-height: 320px;
   max-height: 328px;
   display: flex;
   flex-direction: column;
   padding-top: .1rem;
}

.hero-text {
   margin-left: 0.4rem;
   margin-right: 1rem;
   margin-bottom: auto;
}

.local-time-container {
   margin-right: 0.4rem;
   margin-left: 0.4rem;
   margin-bottom: 0.4rem;
}

.local-time-text {
   text-align: right;
}

/*=============================*/
   /*--- PROJECT SECTION ---*/
/*=============================*/

.project-container {
   background-color: var(--dark-bkg-color);
   min-height: 448px;
   max-height: 468px;
   display: flex;
   flex-direction: column;
}

.project-title-wrapper {
   margin-top: 0.3rem;
   margin-left: 0.4rem;
   display: flex;
   margin-bottom: auto;
}

.project-title-wrapper-text {
   color: var(--dark-font-color);
}

.cycling-images-wrapper {
   display: flex;
   justify-content: center;
   margin-bottom: auto;
}

.cycling-image {
   max-height: 350px;
   margin-top: 0.9rem;
   margin-bottom: 0.9rem;
}



/*=============================*/
   /*--- DESKTOP QUERIES ---*/
/*=============================*/

@media screen and (min-width: 768px) {
   .navbar {
      margin-left: 0.8rem;
      margin-right: 0.8rem;
      margin-top: 0.2rem;
   }

   .hero-text {
      max-width: 40%;
      margin-left: 0.8rem;
   }

   .local-time-container {
      margin-right: 0.8rem;
      margin-bottom: 0.8rem;
   }

   .project-title-wrapper {
      margin-left: 0.8rem;
      margin-top: 0.6rem;
   }

   @-webkit-keyframes grow {
      0% { transform: scale(.9); }
      50% { transform: scale(1.3); }
      100% { transform: scale(.9); }
   }

   .project-container {
      min-height: 700px;
      max-height: 780px;
   }

   .cycling-image {
      max-height: 600px;
   }
}